* {
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  & > div {
    padding: 0 5px;
  }
}

body {
  margin: 100px;
  text-align: center;
}

.wrapper {
  margin: auto;
  background: #eee;
  max-width: 1080px;
  min-height: 450px;
}

.todo {
  background: #eee;
  &__title {
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #000 solid;
    padding: 0 20px;
  }
  &__title {
    min-width: 60px;
    margin-right: 20px;
  }
  &__options > ul {
    display: flex;
  }
  &__options div {
    cursor: pointer;
  }
  &__wrapper {
    margin-top:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    &:hover {
      background: #ddd;
    }
  }
  &__check-box {
    cursor: pointer;
    min-width: 50px;
  }
  &__content {
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    word-wrap: anywhere;
    white-space: pre-wrap;
  }
  &__edit {
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    word-wrap: anywhere;
    white-space: pre-wrap;
    background: #999;
    color: #fff;
  }
  &__delete {
    cursor: pointer;
    min-width: 30px;
  }
  &__add__form {
    margin-top: 8px;
    padding: 0 20px;
    background: #999;
  }
  &__add__input {
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
  }
}

.hide {
  display: none;
}

.selected {
  color: #fff;
  background: #aaa;
}

.completed {
  color: #999;
}

.line-through {
  text-decoration: line-through;
}


@media (max-width: 768px) {
  * {
    font-size: 18px;
  }
  body {
    margin: 0;
  }
  .todo {
    padding: 20px 0;
    &__title {
      min-width: 75px;
      margin: 0;
    }
    &__options > ul {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    &__header {
      padding: 0;
      align-items: center;
    }
  }
  li {
    display: inline-block;
  }
}
