<!doctype html>
<html>
  <%- include('./head') %>
<body>
  <div class="main">
    <table class="prize__table">
      <thead>
        <th>Prize Name</th>
        <th>Photo Link</th>
        <th>Photo Preview</th>
        <th>Weight</th>
        <th></th>
        <th></th>
      </thead>
      <tbody class="prize__list">
      </tbody>
      <a href="/add-prize">Add Prize</a>
      <a href="/handle-logout">Logout</a>
      <a href="/">Home</a>
    </table>
  </div>
  <script src="/javascript/main.js">
  </script>
</body>
</html>
