<!DOCTYPE html>
<%- include('./partials/head') %>
<html>
  <%- include('./partials/header') %>
  <body>
  <div class="main">
    <div class="main__card">
      <div class="post__title">
        ABOUT
      </div>
      <div class="post__content">
        Jas0n HUANG
        
        Always learning.
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>
  </body>
</html>
