* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

.archive {
  margin: 20px auto;
}

.category_name {
  margin: 20px 0;
  padding: 10px;
  background: #eee;
}

.hide {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease-in;
}

.warning {
  color: #f33;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  z-index: 5;
}
.header_logo {
  width: 50px;
  height: 50px;
  background: url("../img/JH.png") center/contain no-repeat;
}
.header_wrapper {
  width: 100%;
  height: 70px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 30px;
}
.header_logo_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  color: #333;
  margin: 0 10px;
}
.nav li {
  display: inline-block;
  margin: 0px 10px;
  padding: 5px;
  border: 2px solid #eee;
  transition: all 0.3s ease-in;
}
.nav li:hover {
  border: 2px solid #aaa;
  cursor: pointer;
}

.banner {
  position: relative;
  top: 70px;
  width: 100%;
}
.banner_wrapper {
  width: 100%;
  height: 240px;
  max-width: 1440px;
  background: url("../img/jelly_banner.JPG") center/cover no-repeat;
  margin: 0 auto;
  color: #eee;
}
.banner_title {
  line-height: 240px;
}

.main {
  width: 100%;
  max-width: 1440px;
  position: relative;
  top: 70px;
  min-height: calc(100vh - 380px);
  margin: 10px auto;
}

.article_wrapper {
  width: 80%;
  max-width: 768px;
  background: #fff;
  margin: auto;
  padding: 5px;
  transform: translateY(-45px);
  z-index: 3;
}
.article_container {
  width: 100%;
  max-width: 768px;
  min-height: 250px;
  text-align: left;
  margin-bottom: 10px;
  padding: 20px;
  outline: 5px #fff solid;
  border: 2px #aaa solid;
}
.article_container > * {
  text-align: left;
  margin: 10px;
}
.article_container > * p {
  text-align: left;
  margin: 8px;
}
.article_title {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  font-size: 26px;
  font-weight: bold;
}
.article_metadata {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 20px;
  background: #eee;
}
.article_created {
  display: inline-block;
  color: #777;
  margin: 0 15px;
}
.article_category {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #777;
}
.article_excerpt > * {
  word-break: break-all;
  text-align: left;
}
.article_read-more {
  display: inline-block;
  margin: 0px 10px;
  padding: 5px;
  border: 2px solid #aaa;
}

.cate_icon {
  width: 20px;
  height: 20px;
  background: url("../img/cate.png") center/contain no-repeat;
  display: inline-block;
  margin: 3px;
  opacity: 0.8;
}

.i18n_btn_wrapper {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: auto;
  align-items: center;
}

.i18n_btn {
  font-size: 16px;
  height: 32px;
  margin-left: 3px;
  padding: 0 3px;
  border: 2px solid #eee;
  background: none;
  transition: all 0.3s ease-in;
}
.i18n_btn:hover {
  border: 2px solid #aaa;
  cursor: pointer;
}

.footer {
  width: 100%;
  position: relative;
  top: 70px;
  margin-top: 30px;
  color: #eee;
}
.footer_wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 10px 0;
  background: #777;
}

.page-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(128, 128, 128, 0.7);
  transition: all 0.5s ease-in;
  z-index: 9;
}

.login {
  display: block;
  width: 35%;
  min-width: 360px;
  margin: auto;
}
.login_form {
  width: 90%;
  max-width: 350px;
  display: block;
  background: #fff;
  margin: 50px auto;
  padding: 20px;
  outline: 5px #fff solid;
  border: 2px #aaa solid;
  opacity: 1;
}
.login_form > * {
  margin: 10px auto;
}
.login_form input {
  text-align: left;
  border: 1px #aaa solid;
  padding: 3px;
}

.editor_form {
  background: #fff;
  width: 100%;
  max-width: 768px;
  outline: 5px solid #fff;
  border: 2px solid #aaa;
  margin: auto;
  padding: 10px;
  text-align: left;
  transform: translateY(-40px);
}
.editor_form_title {
  text-align: left;
  width: 80%;
}
.editor_form > * {
  margin: 20px auto 20px auto;
}

.article_list {
  width: 80%;
  max-width: 768px;
  background: #fff;
  margin: auto;
  padding: 5px;
  z-index: 3;
}
.article_list_container {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  outline: 5px #fff solid;
  border: 2px #aaa solid;
}
.article_list_title {
  word-break: break-all;
  font-size: 20px;
  font-weight: normal;
}
.article_list_edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  margin: 3px;
  background: url("../img/edit.png") center/contain no-repeat;
}
.article_list_delete {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  margin: 3px;
  background: url("../img/delete.png") center/contain no-repeat;
}

.pagination {
  position: relative;
  top: 70px;
}
.pagination_controller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_controller > a {
  border: 2px solid #eee;
  margin: 5px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
  }
  .header_wrapper {
    height: auto;
    display: block;
  }
  .header_wrapper ul, .header_wrapper li {
    margin: 0;
  }

  .article_wrapper {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
