body {
  text-align: center;
}

.carousel {
  margin: auto;
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
}

.carousel__left {
  left: 0;
}
.carousel__right {
  right: 0;
}

.carousel__button {
  display: inline-block;
  position: absolute;
  background: rgba(3, 3, 3, 0);
  color: #fff;
  font-weight: bold;
  width: 10%;
  height: 100%;
  z-index: 5;
  line-height: 300px;
  transition: all 0.2s ease-in;
}

.carousel__button:hover {
  cursor: pointer;
  background: rgba(5, 5, 5, 0.5);
}


.carousel__img {
  display: none;
  position: absolute;
}

.current {
  display: inline-block;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;
  z-index: 3;
}

.right {
  display: inline-block;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.left {
  display: inline-block;
  transform: translateX(-150%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

