@use '../variables';
@use '../mixin';

.page-cover {
  @include mixin.position(fixed, $top: 0, $left: 0); 
  @include mixin.size($width: 100%, $height: 100vh);
  background: rgba(128, 128, 128, 0.7);
  transition: all 0.5s ease-in;
  z-index:9;
}

.login {
  display: block;
  width: 35%;
  min-width: 360px;
  margin: auto;
  &_form {
    @include mixin.size($width: 90%, $max-width: 350px);
    display: block;
    background: variables.$white;
    margin: 50px auto;
    padding: 20px;
    outline: 5px variables.$white solid;
    border: 2px variables.$grey solid;
    opacity: 1;
    > * { 
      margin: 10px auto;
    }
    input {
      text-align: left;
      border: 1px variables.$grey solid;
      padding: 3px;
    }
  }
}
